@import url('https://fonts.googleapis.com/css2?family=Comme:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

:root {
  --primary-color: #4C94BD;
  --secondary-color: #697277;
  --accent1-color: #FFFFFF;
  --accent2-color: #F0F38F;
  --heading-font: 'Comme:wght@700', sans-serif;
  --paragraph-font: 'Comme:wght@300', sans-serif;
  --nav-background-color: #FFFFFF;
  --nav-link-color:  #4C94BD;
  --nav-hover-link-color:  #FFFFFF;
  --nav-hover-background-color: #4C94BD;
  --company-name-font: 'Carter' sans-serif;
  --transparent-color: #0000008F;
}

header img {
  width: 150px;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

p {
  font-family: var(--paragraph-font);
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 { 
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--transparent-color);
  color: var(--accent1-color);
  font-family: var(--company-name-font-font);
  font-size: 4.0rem;
}

.hero article {
  position: absolute;
  top: 425px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--transparent-color);
  color: var(--accent1-color); 
  width: 900px;
  height: auto;
  padding: 10px;
}

.hero article img {
  float: right;
  width: auto;
  height: 200px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

header nav {
  display: block;
  color: var(--nav-link-color);
  font-family: var(--heading-font);
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
  text-decoration: none;
}
  
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.sociallinks img {
  width: 50px;
  height: auto;
}
