@import url('https://fonts.googleapis.com/css2?family=Comme:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

:root {
  --primary-color: #326785;
  --secondary-color: #697277;
  --accent1-color: #FFFFFF;
  --accent2-color: #F0F38F;
  --heading-font: 'Comme:wght@700', sans-serif;
  --paragraph-font: 'Comme:wght@300', sans-serif;
  --nav-background-color: #FFFFFF;
  --nav-link-color:  #326785;
  --nav-hover-link-color:  #FFFFFF;
  --nav-hover-background-color: #326785;
  --company-name-font: 'Carter' sans-serif;
  --transparent-color: #0000008F;
}

header {
  margin: 10px auto;
	display: grid;
	grid-template-columns: auto 1fr;
  background-color: var(--primary-color);
}

header img {
  width: 125px;
  height: auto;
  grid-column: 1/2;
  justify-self: left;
  padding: 10px;
}

header nav {
  display: block;
  color: var(--nav-link-color);
  background-color: var(--nav-background-color);
  font-family: var(--heading-font);
  font-size: 1.5rem;
  padding: 10px;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
}

header nav a {
  display:inline-block;
  width: 10rem;
  text-align: center;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

p {
  font-family: var(--paragraph-font);
  padding-left: 20px;
  padding-right: 20px;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  border-style: solid;
  border-width: 1px;
  border-color: var(--primary-color);
}

.hero h1 { 
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--transparent-color);
  color: var(--accent1-color);
  font-family: var(--company-name-font-font);
  font-size: 4.0rem;
}

.hero article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--transparent-color);
  color: var(--accent1-color); 
  width: 900px;
  height: auto;
  padding: 10px;
}

.hero article img {
  float: right;
  width: auto;
  height: 200px;
}

section {
  border-style: solid;
  border-width: 1px;
  border-color: var(--primary-color);
  margin-top: 10px;
  padding-bottom: 20px;
  padding-top: 0px;
}

section h2 {
  color: var(--accent1-color); 
  background-color: var(--primary-color);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 0px;
}

nav {
  background-color: var(--nav-background-color);
  display: flex;
}

figure {
  display: flex;
  flex-flow: column;
  padding: 10px;
  margin: auto;
}

figure img {
  width: 100%;
  max-height: 150px;
}

figcaption {
  background-color: var(--primary-color);
  color: var(--accent1-color);
  font-family: var(--paragraph-font);
  padding: 3px;
  text-align: center;
}

footer {
  display: grid;
  grid-template-columns: auto auto;
  margin: 20px;
}

footer p {
  grid-column: 1/2;
}

footer nav {
  grid-column: 2/3;
  justify-self: right;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
  text-decoration: none;
}
  
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.section-about {
  display: flex;
  padding-top: 0px;
}

.sociallinks img {
  width: 50px;
  margin: 10px;
}
