@import url('https://fonts.googleapis.com/css2?family=Comme:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Comme:wght@700', sans-serif;
  font-size: 1.2em;
  color: #333;
  background-color: #fff;

}

header {
  margin: 0 auto;
  width: 600px;
}

h1 {
  margin: 1rem;
  font-size: 1.5em;
  color: navy;
  text-align: center;
}

form {
  width: 600px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #eee;
  display: grid;
}

div {
  padding-top: 1em;
  padding-bottom: 1em;
}

label, input, button, select, textarea {
  font-family: 'Comme:wght@300', sans-serif;
}

label {
  text-align: right;
  padding-right: 1rem;
}

input, textarea, select {
  width: 100%;
  background-color: #fff;
  padding: 0.5rem;
  font-size: 1.1rem;
  resize: vertical;
}

button {
  margin: 1rem;
  background-color: navy;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-size: 1.2rem;
  width: 150px;
  margin: 0 auto;
}

button:hover {
  background-color: darkgreen;
}

footer {
  margin: 1rem auto 0;
  width: 600px;
  text-align: center;
  font-size: 0.8em;
  color: #777;
  border-top: 1px solid #ccc;
}